@use "../../sass" as s;

button {
  background: none;
  border: none;
}

.filter-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  width: 96%;
}

.btn {
  // opacity: 65% !important;
  min-width: 10%;
}

.btn:hover {
  // opacity: 80% !important;
  transition: transform 300ms;
  color: s.$black;
  border-bottom: 2px solid s.$black;
}

.btn:focus {
  // opacity: 100% !important;
  transition: transform 300ms;
  color: s.$black;
  border-bottom: 2px solid s.$black;
}

.imgs {
  height: 25px;
  width: 25px;
  margin: auto;
}

@media (max-width: 900px) {
  .filter-box {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .btn {
    margin: auto;
  }
}
